In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 파일 읽어오기
file_path = 'https://raw.githubusercontent.com/Jangrae/csv/master/Graduate_apply.csv'
graduate = pd.read_csv(file_path, sep=',', skipinitialspace=True)  
graduate.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [ ]:
# 8.1 하나의 열을 기준으로 조인

In [3]:
# rank별 gre, gpa 평균 구하기
gr_mean = graduate.groupby(by='rank', as_index=False)[['gre', 'gpa']].mean()
gr_mean.rename(columns={'gre':'gre_mean', 'gpa':'gpa_mean'}, inplace=True)
gr_mean

   rank    gre_mean  gpa_mean
0     1  611.803279  3.453115
1     2  596.026490  3.361656
2     3  574.876033  3.432893
3     4  570.149254  3.318358

In [4]:
# rank별 count 구하기
gr_count = graduate.groupby(by='rank', as_index=False)['gre'].count()
gr_count.rename(columns={'gre':'count'}, inplace=True)
gr_count

   rank  count
0     1     61
1     2    151
2     3    121
3     4     67

In [5]:
# 하나의 열(rank)을 기준으로 조인
graduate_new = pd.merge(gr_mean, gr_count, on='rank', how='inner') 
graduate_new

   rank    gre_mean  gpa_mean  count
0     1  611.803279  3.453115     61
1     2  596.026490  3.361656    151
2     3  574.876033  3.432893    121
3     4  570.149254  3.318358     67